html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-color: chocolate;
    --secondary-color: rgb(0, 94, 255);
    --light-black: #191919;
}

body {
    min-height: 100%;
}

header {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 3;
    top: 0px;
    width: 100%;

    display: flex;
    justify-content: center;

    transition: background 0.3s;
}

.nav-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.inline-round-text {
    font-size: 0.5em;
    vertical-align: middle;
    text-align: center;
    line-height: 1.6em;
    padding: 1px;
    margin: 0 1em;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    
    display: inline-block;
    justify-self: center;
    
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: white;
}

#overview-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.talk-choices .inline-round-text, .talk-choices .inline-round-text.outline:hover {
    border: 1px solid white;
    transition: all 0.1s;
    cursor: pointer;
}

.talk-choices .inline-round-text.outline:not(:hover) {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.nav-bar {
    min-width: 30em;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;

    width: 50em;
    padding: 0.5em;
    margin: 0;   
}

.nav-bar ul li {
    margin: 0.5em 0.5em;
    height: 2.4em;
    padding: 0.4em 1em;  
    border-radius: 1.2em;
    
    box-sizing: border-box;

    cursor: pointer;
    transition: background 0.1s;
}

.nav-bar ul li:hover {
    background-color: var(--secondary-color);
}

.nav-bar ul li.active {
    background-color: var(--secondary-color);
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.title {
    padding: 10em 0 14em 0;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    /* background: linear-gradient(180deg, rgba(181,108,0,1) 0%, rgba(255,188,65,1) 90%, rgba(252,183,52,0) 100%); */
    background-image: url('assets/smu-building.jpg');
}

.title h1 {
    font-size: 5em;
    margin: 0.5em;
    text-align: center;
}

.title h2 {
    font-size: 4em;
    margin: 20px;
}

.title-text, .title-desc {
    transform-origin: top center;
}

.title-background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.title-desc {
    font-size: xx-large;
    font-weight: bold;

    display: grid;
    grid-template-columns: 8em 2em 8em;
    align-items: center;
}

.title-desc > div:first-child { justify-self: flex-end; }

.title-desc > div:last-child { justify-self: flex-start; }

.divider {
    font-size: 0.5em;
    vertical-align: middle;
    text-align: center;
    line-height: 1.8em;
    padding: 1px;
    margin: 0 1em;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    
    display: inline-block;
    justify-self: center;
    
    background-color: var(--secondary-color);
}

main {
    padding: 0 5em 3em;
}

main > section:not(:last-child) {
    margin-bottom: 3em;
}

.section-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.overview-text {
    padding: 1em;
    font-size: larger;
    max-width: 80em;
}

.overview-figure {
    display: block;
    width: 20em;
    height: auto;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 1.2em 0;
}

#speakers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#speakers-section .section-content {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.speaker-card {
    margin: 0.8em;
    padding: 1.5em;
    width: 12em;
    min-height: 20em;

    box-shadow: 4px 4px 3px grey;
    border: 5px solid rgba(211, 211, 211, 0.6);
    border-radius: 1em;

    transition: border 0.1s;
}

#speakers-section .speaker-card {
    cursor: pointer;
}

.speaker-card.active, .speaker-card.selected {
    border: 5px solid var(--secondary-color);
}

.speaker-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 1em;
}

.speaker-name > a {
    text-decoration: none;
    color: black;
    transition: color 0.1s;
}

.speaker-name > a:hover {
    color: var(--secondary-color);
}

.speaker-name > a > .last-name {
    text-transform: uppercase;
}

.speaker-name > a > .material-symbols-outlined {
    font-size: 1.2em;
    vertical-align: text-top;
    opacity: 0;
    transition: opacity 0.1s;
}

.speaker-name > a > .material-symbols-outlined.active {
    opacity: 1;
}

.speaker-org {
    margin-top: 1em;
    margin-bottom: 1em;
}

.info-item {
    margin-top: 0.5em;
    font-size: smaller;
}

.info-item > a {
    text-decoration: none;
    color: black;
    transition: color 0.1s;
}

.info-item > a:hover {
    color: var(--secondary-color);
}

.info-item > a {
    line-height: 1.6em;
}

.info-item > a > .material-symbols-outlined {
    font-size: 1.5em;
    margin-right: 0.2em;
    vertical-align: bottom;
}

.photo-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    text-align: center;
}

.photo {
    width: 100%;
}

/* @media screen and (min-width: 60em) {
    .talk-content-wrapper {
        min-height: 36em;
    }
}

@media screen and (min-width: 90em) {
    .talk-content-wrapper {
        min-height: 36em;
    }
} */

.talk-choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0 2em 0 0;
    margin: 0;
}

.talk-choices li {
    font-size: large;
    color: white;
    margin: 0;
}

.talk-choices li:not(:first-child) {
    margin-top: 1em;
}

.talk-content {
    margin: 2em 2em 1em;
    padding: 0 1.5em;
    border-left: 5px solid var(--secondary-color);
    min-height: 30em;
    max-width: 60em;
    
    transition: opacity 0.1s;
}

.talk-content.fading {
    opacity: 0;
}

.talk-content-section:not(:first-child) {
    margin-top: 1.5em;
}

.talk-content-section > div:first-child {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0.2em;
}

.talk-content-section.talk-title-text > div:first-child {
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

#schedule-section .section-content {
    flex-direction: column;
    align-items: center;
}

.schedule-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 80em;

    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.schedule-table th, .schedule-table td {
    padding: 0.5em;
    text-align: left;
}

.schedule-table thead th {
    border-bottom: 2px solid black;
}

.schedule-table tbody td {
    border-bottom: 1px solid lightgray;
}

.schedule-table tbody td:first-child {
    background-color: #f0f8ff;
}

.schedule-table tbody td:nth-child(2) {
    background-color: #faebd7;
}

.schedule-table tbody td:nth-child(3):not(:last-child) {
    background-color: #e6e6fa;
}

.schedule-table tbody td:last-child {
    background-color: #fff0f5;
}

#contact-section .section-content {
    flex-direction: column;
}

.organization-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

    padding: 0 1em 1em;
    margin: 0;
}

.organization-item {
    margin: 0 2em;
}

.organization-item > a {
    display: inline-block;
    height: 12em;
}

.organization-item > a > img {
    max-height: 100%;
}

footer {
    background-color: var(--light-black);
    color: white;
    padding: 2em 2em;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .contact-section-title {
    font-weight: bold;
    height: 2em;
    text-transform: uppercase;
}

.contact-name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-block;
    width: 7em;
}

.contact-title {
    font-style: italic;
} */

.copyright {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
